body, html {
	height: 100%;
	margin: 0 auto;
	background-color: #6313A5;
/*	text-align: center;*/
	/*font-size: 45px;*/
	color: #5880BB;
}
/*
.nav {

	background-color: #6313A5;
}
*/
tr {

	padding: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {

	background-color: transparent;
}

.navbar {

	background-color: #F5C60D;

}

.brand {

	font-size: 100px;
	color: #0F60CF;
}

.brand2 {

	font-size: 50px;
	color: #0F60CF;
}

.showPost {
	border: 20px #666666 !important;
	border-radius: 30px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #F5C60D;
	text-align: center;
	font-size: 20px;
	margin: 20px;
}

.postTags {

	font-size: 14px;
}







