<h1>All Posts</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-offset-3 col-md-3">      
          
           
            <% @posts.each do |post| %>
              <div class="container">
                <div class="row">
                  <div class="col-xs-6 col-md-offset-1 col-md-5 showPost">
                    <h1><%= post.title %></h1>
                    <p class="postText"><%= post.text %></p>
                    <p class="postTags"> Tags: <%= post.tags %></p>
                  </div>
                </div>
              </div>

            <% end %>
          

        </div>
    </div>
</div>        
