<div class="container ">
    <div class="row">
        <div class="col-sm-6 col-md-offset-3 col-md-4 showPost">

			<p>
			  <strong>Title:</strong> <br>
			  <%= @post.title %>
			</p>
			 
			<p>
			  <strong>Text:</strong> <br>
			  <%= @post.text %>
			</p>

			<p>
			<strong>Tags:</strong> <br>
			<%= @post.tags %>
			</p>
		</div>
	</div>
</div>			